{% extends 'base.html' %}

{% block title %}
    地下室點餐機
{% endblock %}

{% block heading %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <form action="/" method="ramdom">
                {% csrf_token %}
                <p>地下室點餐</p>
                <button type="submit" class="btn" href="/" id="restaurant_button">{{ restaurant }}</button>
            </form>
            <p>{{ rlt }}</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include 'home/map.html' %}
{% endblock %}