<style type="text/css" media="screen">

#id_footer {
    /* 設定footer的高度 */
    height: 40px;
    box-sizing: border-box;
    /* 設定footer絕對位置在底部 */
    position: absolute;
    bottom: 0;
    /* 展開footer寬度 */
    width: 100%;
}
</style>
<div class="container-fluid">
  <ul class="nav bg-info">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">首頁</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/order">訂餐</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/list">訂單</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/position">導航</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/newrestaurant">新增餐廳</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/accountbook">帳簿</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="http://www.1980.org.tw/service_item_show.php?service_item_id=1">輔導專線</a>
    </li>
  </ul>
</div>