<!-- 導覽列 -->
<nav id="sidebar">
<!-- 展開/縮起來 -->
<button type="button" id="collapse" class="collapse-btn">
    <i class="fas fa-align-left"></i>
</button>

<!-- list -->
<ul class="list-unstyled">
    <p>導覽列</p>
    <li>
        <a href="/">首頁Home<i class="fas fa-home-lg"></i></a>
    </li>
    <li>
        <a href="/login">帳號<i class="fas fa-sign-in-alt"></i></a>
    </li>
    <li>
        <a href="/order">訂餐<i class="fas fa-utensils"></i></a>
    </li>
    <li>
        <a href="/list">訂單<i class="fas fa-clipboard-list"></i></a>
    </li>
    <li>
        <a href="/position">導航<i class="fas fa-map-marked-alt"></i></a>
    </li>
    <li>
        <a href="/newrestaurant">新增<i class="fas fa-plus-circle"></i></a>
    </li>
    <li>
        <a href="/accountbook">帳簿<i class="fas fa-piggy-bank"></i></a>
    </li>
    <li>
        <a href="#sublist" data-bs-toggle="collapse" id="dropdown">輔導專線<i class="fas fa-heart"></i></a>
        <!-- 子連結列表 -->
        <ul id="sublist" class="list-unstyled collapse">
            <li>
                <a href="http://www.1980.org.tw/service_item_show.php?service_item_id=1">張老師專線<i class="fas fa-user-md"></i></a>
            </li>
            <li>
                <a href="http://care.nkust.edu.tw/">諮商輔導組<i class="fad fa-chalkboard-teacher"></i></a>
            </li>
        </ul>
    </li>
</ul>
</nav>

